/*=============================================
CSS CODE
Autor: Juan Francisco Lopez;
=============================================*/

/*=============================================
GENERAL
=============================================*/
*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
h1,h4{
	font-family: 'Oswald', sans-serif;
	color: #846A36;
}
h4{text-align: center;}
p{color: #686766;}
html{scroll-behavior: smooth;}
#wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
}
/*Titulo*/
.titulo{
	margin: 0;
	font-size: 40px;
	transform: scale(0);
	transition: 0.8s;
	opacity: 0;
}
.cont-allTitu{
	width: 284px;
	margin: auto;
	position: relative;
	height: 50px;
}
.marginL{margin: inherit;}
.cont-allTitu .line{
	width: 50px;
	border-top: 2px solid #A88F5C;
	position: absolute;
	transform: scaleX(0);
	transition: 0.8s;
}
.cont-allTitu .li1{
	top: 35px;
	left: 0;
}
.cont-allTitu .li2{
	top: 35px;
	right: 0;
}
/*=================*/
/*=============================================
HEADER
=============================================*/
header{
	width: 100%;
	height: 100vh;
	position: relative;
}
#box-header{
	width: 1200px;
	margin: auto;
	height: 75vh;
	padding-top: 25vh;
	display: flex;
}
/*texto header*/
#box-header .text-header{
	width: 40%;
	padding-top: 50px;
	position: relative;
}
#box-header .text-header h4{
	font-size: 55px;
	line-height: 50px;
	text-align: left;
	transform: translateX(-40%);
	transition: .8s;
	opacity: 0;
	color: #686766;
}
#box-header .text-header p{
	transform: translateX(40%);
	transition: .7s;
	opacity: 0;
	margin-top: 25px;
}
#box-header .text-header .btn-header{
	margin-top: 30px;
	text-align: center;
	width: 150px;
	transform: scale(0);
	transition: .6s;
	height: 46px;
	position: relative;
	overflow: hidden;
	background-color: #846A36;
	border: 2px solid #846A36;
}
#box-header .text-header .btn-header .font-btn-header{
	width: 0;
	background-color: #fff;
	height: 0;
	border-radius: 50%;
	position: absolute;
	top: -77px;
	left: -25px;
	transition: all 500ms;
}
#box-header .text-header .btn-header:hover .font-btn-header{
	width: 200px;
	height: 200px;
}
#box-header .text-header .btn-header a{
	display: block;
	width: 150px;
	height: 34px;
	padding-top: 11px;
	color: #fff;
	position: absolute;
	font-weight: bold;
	transition: all 500ms;
	text-decoration: none;
}
#box-header .text-header .btn-header:hover a{color: #846A36;}
#box-header .text-header .icons-header{
	display: flex;
	width: 200px;
	transition: .8s;
	position: absolute;
	bottom: 20px;
	opacity: 0;
}
#box-header .text-header .icons-header .line-redes-header{
	width: 40px;
	height: 2px;
	margin-top: 10px;
	background: rgb(255,255,255);
	background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(104,103,102,1) 62%, rgba(104,103,102,1) 100%);
}
#box-header .text-header .icons-header a{
	display: block;
	color: #686766;
}
#box-header .text-header .icons-header a i{transform: scale(1.3);}
#box-header .text-header .icons-header a:nth-of-type(2) i{margin-left: 12px;}
#box-header .text-header .icons-header a:nth-of-type(3) i{margin-left: 12px;}
/*svg header*/
#box-header .ilustracion-svg{width: 60%;}
#box-header .ilustracion-svg .svg-image{
	margin-top: -40px;
	transform: scale(0);
	transition: .8s;
}
/*=============================================
NAV
=============================================*/
#subnav{width: 100%;}
/*section of the subnav*/
#posi-nav{
	width: 100%;
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
}
#posi-nav nav{
	width: 1200px;
	margin: auto;
	height: 70px;
	position: relative;
	background-color: rgba(255,255,255,0);
}
#icon{
	width: 150px;
	height: 40px;
	position: absolute;
	top: 15px;
	left: 0;
}
#nav1{
	position: absolute;
	top: 15px;
	right: 10px;
	list-style: none;
}
#nav1 li{
	float: left;
	margin-left: 30px;
}
#nav1 li .line-nav{
 	width: 100%;
 	height: 3px;
 	margin: auto;
 	margin-top: 8px;
 	transform: scaleX(0);
 	transition: .6s;
 	background-color: #846A36;
}
#nav1 li a{
	text-decoration: none;
	border: 1px solid rgba(255,255,255,0);
	color: #686766;
	font-family: 'Oswald', sans-serif;
}
#nav1 li:hover .line-nav{
	transform: scaleX(1);
	background-color: #846A36;
}
#nav1 li a:focus .active{
	transform: scaleX(1);
}
#nav1 li .active{
	transform: scaleX(1);
}
/*=============================================
NAV 2
=============================================*/
#nav2{
	background-color: rgba(0,0,0,0);
	position: absolute;
	right: 14px;
	top: 9px;
	margin-top: 3px;
	cursor: pointer;
	color: #846A36;
	display: none;
	transform: scale(1.5);
}
#cont-nav2{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	transition: .4s;
	z-index: 1000;
	position: fixed;
	display: none;
}
#cont-nav2 ul{
	width: 100%;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	margin-top: 10px;
	list-style: none;
}
#cont-nav2 ul li{
	transform: scaleX(0);	
	transition: 0.6s;
	padding: 13px 0;
	display: flex;
	opacity: 0;
	width: 180px;
	margin: auto;
}
#cont-nav2 ul li .cont-icon-movile{
	transform: scale(1.5);
	width: 20px;
	padding-top: 3px;
	color: #fff;
}
#cont-nav2 ul li a{
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	margin-left: 24px;
}
#close{
	width: 36px;
	height: 40px;
	padding-left: 14px;
	color: #fff;
	margin: auto;
	margin-top: 10vh;
	cursor: pointer;
	opacity: 0;
	transition: 0.6s;
}
/*=============================================
MAIN
=============================================*/
main{
	width: 100%;
	position: relative;
}
/*===========*/
/*Redes sociales*/
#redes{
	width: 35px;
	height: 110px;
	top: 300px;
	background-color: #fff;
	left: 0;
	position: fixed;
	z-index: 100;
	border-radius: 4px 0 0 4px;
	border-bottom: 1px solid #D2D0D0;
	border-left: 1px solid #D2D0D0;
	border-top: 1px solid #D2D0D0;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
	display: none;
	transition: .7s;
	opacity: 0;
}
#redes div{margin-top: 5px;}
#redes .color-red1 i{color: #077ED7;}
#redes .color-red2 img{
	width: 21px;
	height: 21px;
}
#redes .color-red2{margin-left: 7px;}
#redes .color-red3 i{color: #0869C2;}
#redes .section-redes{margin-left: 4px;}
#redes div i{transform: scale(.7);}
/*===========*/
#word1{
	display: block; 
	color: #D3AC5F;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	transform: translateY(-100%);
	transition: .8s;
	opacity: 0;
}
main h1{
	font-size: 40px;
	transform: scale(0);
	transition: .8s;
	text-align: center;
}
.cont-posi{position: relative;}
.cont-posi .block-Posi{
	position: absolute; 
	top: -60px;
}
/*=============================================
block1
=============================================*/
#block1{
	width: 1200px;
	margin: auto;
	margin-top: 60px;
	overflow: hidden;
}
.scroll2Block1{
	text-align: center;
	transform: translateY(30%);
	transition: .8s;
	opacity: 0;
	padding: 0 50px;
	margin-top: 30px;
}
#block1 .box-block1{
	width: 100%;
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 400px;
}
#block1 .box-block1 .cont1-block1{
	width: 800px;
	height: 400px;
	opacity: 0;
	transition: .8s;
	position: relative;
	background-image: url(../img/imagen-2.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition: all 300ms;
}
#block1 .box-block1 .cont1-block1:hover{background-size: 105% 105%;}
.card-block1{
	width: 250px;
	height: 370px;
	padding: 0 50px;
	padding-top: 30px;
}
.card-block1 h4{
	text-align: left;
	color: #fff;
	font-size: 25px;
}
.card-block1 span{
	color: #D3AC5F;
	font-size: 16px;
	font-weight: bold;
}
.card-block1 p{
	color: #fff;
	margin-top: 15px;
}
.card-block1 .btn-block1{
	width: 110px;
	height: 40px;
	border: 2px solid #D3AC5F;
	margin-top: 25px;
	overflow: hidden;
	position: relative;
}
.card-block1 .btn-block1 .fondo-btn-b1{
	width: 110px;
	height: 40px;
	position: absolute;
	transform: translateY(-104%);
	transition: all 300ms;
	background-color: #D3AC5F;
}
.card-block1 .btn-block1:hover .fondo-btn-b1{transform: translateY(0);}
.card-block1 .btn-block1 a{
	display: block;
	position: absolute;
	width: 110px;
	height: 32px;
	transition: all 300ms;
	text-decoration: none;
	color: #D3AC5F;
	font-weight: bold;
	padding-top: 8px;
	text-align: center;
}
.card-block1 .btn-block1:hover a{color: #846A36;}
#block1 .box-block1 .cont1-block1 .card-block1{
	position: absolute;
	right: 0;
	background-color: #846A36;
}
#block1 .box-block1 .cont2-block1{
	width: 350px;
	opacity: 0;
	transition: .8s;
	background-image: url(../img/imagen-service.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transition: all 300ms;
}
#block1 .box-block1 .cont2-block1:hover{background-size: 105% 105%;}
#block1 .box-block1 .cont2-block1 .card-block2-fondo{
	height: 310px;
	padding-top: 90px;
	background-color: rgba(0,0,0,.3);
}
/*=============================================
block 2
=============================================*/
#block2Cont{
	width: 100%;
	padding-bottom: 50px;
	margin-top: 30px;
}
#block2{
	width: 1200px;
	padding: 25px 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 60px;
	overflow: hidden;
}
.titu3-w{width: 295px;}
.titu3-w .line{border-top-color: #F5D38E;}
#block2 .card-offer{
	width: 350px;
	transform: translateY(20%);
	transition: 0.7s;
	opacity: 0;
}
#block2 .card-offer .cont-offer{position: relative;}
#block2 .card-offer img{width: 100%;}
#block2 .card-offer .titu-offer{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}
.card-offer2{
	width: 93%;
	margin: auto;
}
#block2 .card-offer p{
	transform: scaleX(0);
	transition: 0.6s;
	opacity: 0;
}
#block2 .card-offer .cont-offer-sub{
	width: 200px;
	display: flex;
	margin-top: 20px;
	transform: scaleX(0);
	transition: .6s;
}
.cont-offer-sub .sub-cont{display: flex;}
.cont-offer-sub .divi{
 	padding: 0 5px;
 	font-size: 12px;
 	padding-top: 2px;
 	font-weight: bold;
}
.cont-offer-sub .sub-cont i{
	transform: scale(.7);
	color: #846A36;
}
.cont-offer-sub .sub-cont span{
	font-size: 12px;
	display: block;
	margin-top: 2px;
	margin-left: 3px;
}
#block2 .card-offer .btn-block2{
	width: 90px;
	height: 35px;
	text-align: center;
	border: 1px solid #846A36;
	margin-top: 30px;
	transform: scale(0);
	transition: .6s;
}
#block2 .card-offer .btn-block2 a{
	text-decoration: none;
	display: block;
	height: 29px;
	padding-top: 6px;
	background-color: #846A36;
	color: #fff;
	transition: .5s;
}
#block2 .card-offer .btn-block2 a:hover{
	background-color: #fff;
	font-weight: bold;
	text-decoration: underline;
	color: #846A36;
}
.titu-offer h4{
	background-color: #fff;
	width: 60%;
	margin: auto;
	height: 35px;
	font-size: 20px;
}
#block2 .card-offer p{margin-top: 10px;}
/*=============================================
reserve
=============================================*/
#box-reserve{
	width: 1200px;
	padding-top: 70px;
	height: 500px;
	margin: auto;
}
#cont1-reserve{
	position: relative;
	opacity: 0;
	transition: .8s;
	overflow: hidden;
}
#cont1-reserve .img-reserve{width: 100%;}
#cont1-reserve .img-reserve img{
	width: 100%;
	height: 500px;
}
#cont1-reserve .text-reserve{
	position: absolute;
	width: 100%;
	height: 500px;
	top:0;
	background-color: rgba(0,0,0,.3)
}
#cont1-reserve .text-reserve h4{
	font-size: 60px;
	transform: scale(0);
	transition: .8s;
	padding-top: 100px;
	color: #fff;
}
#cont1-reserve .text-reserve p{
	width: 600px;
	text-align: center;
	transform: translateY(70%);
	opacity: 0;
	transition: .8s;
	margin: auto;
	color: #fff;
	margin-top: 40px;
}
#btn-reserve{
	width: 120px;
	height: 40px;
	transform: scale(0);
	transition: .8s;
	border: 2px solid #fff;
	margin: auto;
	margin-top: 60px;
	position: relative;
}
#btn-reserve .fondo-btn-reserve{
	width: 120px;
	height: 40px;
	transform: scale(0);
	transition: .6s;
	border-radius: 20%;
	position: absolute;
	top: 0;
}
#btn-reserve:hover .fondo-btn-reserve{
	transform: scale(1);
	background-color: #fff;
	border-radius: 0;
}
#btn-reserve a{
	width: 120px;
	height: 31px;
	position: absolute;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #fff;
	transition: .7s;
	padding-top: 9px;
	display: block;
}
#btn-reserve:hover a{color: #000;}
/*=============================================
block 4
=============================================*/
.margTop{margin-top: 80px;}
#block4{
	width: 1200px;
	margin: auto;
	margin-top: 30px;
	height: 250px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 40px 0;
}
.titu2-w{width: 270px;}
.titu2-w .line{border-top-color: #F5D38E;}
#block4 .service{
	width: 300px;
	padding: 2% 5px;
	transition: 0.7s;
	transform: scale(0);
	opacity: 0;
}
#card-active{background-color: #D3AC5F;}
#card-active p{color: #fff;}
#block4 .service:hover{background-color: #D3AC5F;}
#block4 .service:hover p{color: #fff;}
#block4 .service:hover .icon3{color: #fff;}
#block4 .service h4{margin-top: 15px;}
#block4 .service p{text-align: center;}
#block4 .service .icon3{
	width: 56px;
	margin: auto;
	color: #D3AC5F;
}
#card-active #icon-active{color: #fff;}
#block4 .service .icon3-2{width: 49px;}
#block4 .service .icon3-3{width: 80px;}
/*=============================================
Areas
=============================================*/
#destinos{
	width: 1200px;
	padding: 3% 0;
	margin: auto;
	margin-top: 60px;
	display: flex;
}
.titu4-w{
	width: 300px;
	margin: initial;
	margin-top: -40px;
}
.titu4-w h4{text-align: initial;}
#cont-destacados1{
	width: 500px;
	height: 330px;
	position: relative;
}
#cont-destacados1 p{
	margin-top: 40px;
    padding-right: 60px;
    transform: translateX(-45%);
    opacity: 0;
    transition: .8s;
}
#controls-destacados{
	width: 100px;
	display: flex;
	position: absolute;
	bottom: 10px;
	right: 130px;
}
#controls-destacados div i{
	transform: scale(2.9);
	margin-left: 40px;
	cursor: pointer;
	color: rgba(104,103,102,.5);
	opacity: 0;
	transition: .8s;
}
#cont-destacados2{
	width: 700px;
	height: 330px;
	overflow: hidden;
}
#cont-img-destacados{
	width: 1100px;
	display: flex;
	margin-left: -280px;
}
#cont-img-destacados .card-destacados{
	width: 260px;
	height: 300px;
	border-radius: 5px;
	margin-left: 15px;
	margin-top: 15px;
	transition: .8s;
	position: relative;
}
#cont-img-destacados .card-destacados .fondoDestino{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	border-radius: 5px;
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 36%, rgba(0,0,0,.9) 100%);
}
#cont-img-destacados .card-destacados .fondoDestino h4{
	color: #fff;
	font-size: 22px;
	padding-top: 240px;
	transition: .9s;
}
.topTituloDes1{margin-top: 17px;}
#cont-img-destacados .card-destacados img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: .7s;
}
#cont-img-destacados .bigCard1{
	height: 330px;
	margin-top: 0;
	opacity: 0;
}
#cont-img-destacados .bigCard2{opacity: 0;}
#cont-img-destacados .bigCard3{opacity: 0;}
/*=============================================
FOOTER
=============================================*/
footer{
	width: 100%;
	background-color: #f5f5f5;
	padding-top: 20px;
	margin-top: 50px;
}
#cont-footer{
	width: 1200px;
	margin: auto;
	text-align: center;
	opacity: 0;
	transition: .8s;
	color: #fff;
	padding: 20px 0;
}
#cont-footer .box1-footer{
	width: 1200px;
	margin: auto;
	position: relative;
}
#nav-icon{
	width: 150px;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 0;
	top: -6px;
}
#nav-icon i{
	color: #686766;
	cursor: pointer;
	transform: scale(2);
	transition: .6s;
}
#nav-icon i:hover{color: #D3AC5F;}
#cont-footer .box1-footer .icon-footer{
	position: absolute;
	left: 0;
	top: -8px;
}
#cont-footer .box1-footer .icon-footer img{
	width: 140px;
	height: 40px;
}
#cont-footer p{
	text-align: center;
	color: #686766;
	line-height: 12px;
}
#cont-footer .topPara{
	margin-top: 50px;
	padding-bottom: 10px;
}
#cont-footer2{
	width: 1200px;
	border-top: 1px solid rgba(104,103,102,.4);
	margin-top: 50px;
	padding: 1% 0;
}
#cont-footer2 .list-footer{list-style: none;}
#cont-footer2 .list-footer li{
	float: left;
	margin-left: 20px;
}
#cont-footer2 .list-footer li a{
	text-decoration: none;
	opacity: 0;
	transition: .8s;
}
#cont-footer2 .list-footer li a:hover{
	text-decoration: underline;
}
#cont-footer2 .list-footer li:nth-of-type(1){margin-left: 0;}
/*=============================================
ADDS
=============================================*/
.left-1{transform: translateX(0%);}
.right-1{transform: translateX(40%);}