/*===================================
Responsive code
Autor: Juan Francisco Lopez Morales
===================================*/
@media screen and (max-width: 1240px){
	#posi-nav nav{width: 100%;}
}
@media screen and (max-width: 1290px){
	#box-header{width: 94%;}
	#posi-nav nav{width: 94%}
	#block1{width: 94%;}
	#block1 .box-block1{
		height: 100%;
		justify-content: space-around;
	}
	#block1 .box-block1 .cont1-block1{
		width: 350px;
		margin: 20px;
		background-image: url(../img/imagen-service2.jpg);
	}
	#block1 .box-block1 .cont1-block1 .card-block1{
		background-color: rgba(0,0,0,.3);
		position: static;
	}
	#block1 .box-block1 .cont2-block1{margin: 20px;}
	#block2{width: 100%;}
	#block2{justify-content: space-around;}
	#block2 .card-offer{margin-top: 50px;}
	#box-reserve{
		width: 100%;
		height: 100%;
	}
	#cont1-reserve .img-reserve img{height: 100%;}
	#cont1-reserve .text-reserve{height: 99.4%;}
	#cont1-reserve .text-reserve h4{font-size: 55px;}
	#block4{
		width: 100%;
		height: 100%;
		justify-content: space-around;
	}
	#cont-footer{width: 94%;}
	#cont-footer .box1-footer{width: 94%;}
	#cont-footer2{
		width: 94%;
		margin: auto;
		margin-top: 20px;
	}
}
@media screen and (max-width: 1160px){
	#block2 .card-offer{
		margin: 0 10px;
		margin-top: 50px;
	}
	#cont1-reserve .text-reserve h4{padding-top: 80px;}
}
@media screen and (max-width: 1120px){
	#destinos{
		width: 90%;
		padding: 0 5%;
	}
	#cont-destacados1{width: 40%;}
	#cont-destacados2{width: 60%;}
}
@media screen and (max-width: 1100px){
	#cont1-reserve .text-reserve p{margin-top: 30px;}
	#btn-reserve{margin-top: 40px;}
	#block4 .service{margin-top: 50px;}
	#cont-footer{width: 100%;}
}
@media screen and (max-width: 1010px){
	#box-header{
		height: 80vh;
		padding-top: 20vh;
	}
	#box-header .ilustracion-svg .svg-image{margin-top: 20px;}
	#box-header .text-header .icons-header{display: none;}
	#box-header .text-header .icons-header .line-redes-header{display: none;}
}
@media screen and (max-width: 980px){
	/*=====cambio de menu =====*/
	#posi-nav nav{height: 50px;}
	#icon{
		width: 100px;
		height: 35px;
		top: 7px;
	}
	#nav1{display: none;}
	#nav2{display: block;}
	#controls-destacados div i{transform: scale(2.5);}
	#cont1-reserve .text-reserve h4{padding-top: 70px;}
}
@media screen and (max-width: 980px){
	#cont1-reserve .text-reserve h4{padding-top: 50px;}
}
@media screen and (max-width: 950px){
	#box-header .text-header h4{font-size: 48px;}
}
@media screen and (max-width: 877px){
	#destinos{flex-direction: column;}
	#cont-destacados1{
		width: 100%;
		height: 100%;
		padding-bottom: 100px;
	}
	#cont-destacados1 p{padding-right: 0;}
	#controls-destacados{
		bottom: 10px;
		right: 20px;
	}
	#cont-destacados2{width: 100%;}
}
@media screen and (max-width: 860px){
	#cont1-reserve .text-reserve h4{
		font-size: 45px;
		padding-top: 45px;
	}
	#block4 .service{pointer-events: none;}
	#card-active{background-color: #fff;}
	#card-active p{color: #686766;}
	#card-active i{color: #D3AC5F;}
}
@media screen and (max-width: 830px){
	/*=======Delete hover=======*/
	#box-header .text-header .btn-header:hover .font-btn-header{
		width: 0;
		height: 0;
	}
	#box-header .text-header .btn-header:hover a{color: #fff;}
	#block1 .box-block1 .cont1-block1:hover{background-size: 100% 100%;}
	#block1 .box-block1 .cont2-block1:hover{background-size: 100% 100%;}
	.card-block1 .btn-block1:hover .fondo-btn-b1{transform: translateY(-104%);}
	.card-block1 .btn-block1:hover a{color: #D3AC5F;}
	#block2 .card-offer:hover{
		transform: none;
		box-shadow: 0 12px 16px rgba(0,0,0,0);
	}
	#block2 .card-offer .btn-block2 a:hover{
		background-color: #846A36;
		color: #fff;
		text-decoration: none;
		font-weight: initial;
	}
	#btnOffer:hover{background-color: #846A36;}
	#btnOffer:hover a{color: #fff;}
	#nav-icon i:hover{color: #686766;}
	#btn-reserve:hover .fondo-btn-reserve{transform: scale(0);}
	#btn-reserve:hover a{color: #fff;}
}
@media screen and (max-width: 800px){
	#box-header{
		height: 92vh;
		padding-top: 8vh;
		flex-direction: column-reverse;
	}
	#box-header .text-header{
		width: 94%;
		margin: auto;
	}
	#box-header .text-header{
		text-align: center;
		padding-top: 15px;
	}
	#box-header .text-header h4{text-align: center;}
	#box-header .text-header .btn-header{
		margin: auto;
		margin-top: 30px;
	}
	#box-header .ilustracion-svg{
		width: 94%;
		margin: auto;
	}
}
@media screen and (max-width: 770px){
	#cont1-reserve .text-reserve h4{padding-top: 35px;}
	#btn-reserve{margin-top: 30px;}
}
@media screen and (max-width: 710px){
	#block2 .card-offer{
		margin: 0;
		margin-left: 0;
		margin-top: 50px;
	}
	#cont1-reserve .text-reserve h4{padding-top: 29px;}
	#nav-icon{
		position: static;
		margin: auto;
		margin-top: 25px;
	}
	#cont-footer .box1-footer .icon-footer{position: static;}
	#cont-footer .topPara{margin-top: 30px;}
	#cont-footer2 .list-footer{
		display: flex;
		justify-content: space-around;
	}
	#cont-footer2 .list-footer li{float: none;}
}
@media screen and (max-width: 700px){
	#box-header .text-header h4{font-size: 43px;}
	#block2{
		width: 80%;
		margin-top: 0px;
		padding: 0 10%;
	}
	#block2 .card-offer{width: 100%;}
	#block4{
		width: 70%;
		padding: 0 15%;
	}
	#block4 .service{
		width: 100%;
		padding: 4%;
	}
	#block4 .service .icon3{width: 56px;}
	#block4 .service .icon3-2{width: 49px;}
	#block4 .service .icon3-3{width: 80px;}
}
@media screen and (max-width: 670px){
	#cont1-reserve .text-reserve h4{padding-top: 25px;}
	#cont1-reserve .text-reserve p{margin-top: 20px;}
}
@media screen and (max-width: 649px){
	#cont1-reserve .text-reserve h4{padding-top: 80px;}
	#cont1-reserve .text-reserve p{margin-top: 25px;}
}
@media screen and (max-width: 630px){
	#cont1-reserve .text-reserve h4{font-size: 40px;}
	#cont1-reserve .text-reserve p{width: 80%;}
}
@media screen and (max-width: 600px){
	#cont1-reserve .text-reserve h4{padding-top: 60px;}
}
@media screen and (max-width: 540px){
	#cont1-reserve .text-reserve h4{padding-top: 50px;}
}
@media screen and (max-width: 500px){
	body{font-size: 15px;}
	#nav2{
		width: 25px;
		height: 24px;
		top: 10px;
		padding-top: 4px;
		padding-left: 11px;
	}
	#nav2 i{transform: scale(1.1);}
	#cont-nav2 ul li{width: 150px;}
	#cont-nav2 ul li a{
		font-size: 17px;
		margin-left: 16px;
	}
	#cont-nav2 ul li .cont-icon-movile{
		transform: scale(1.3);
		width: 20px;
		padding-top: 0;
	}
	#box-header .text-header{
		padding-top: 0;
		margin-top: 0;
	}
	#box-header .text-header h4{font-size: 35px;}
	.cont-allTitu{width: 232px;}
	.cont-allTitu .line{width: 35px;}
	.cont-allTitu .li1{top: 26px;}
	.cont-allTitu .li2{top: 28px;}
	.titulo{font-size: 33px;}
	.titu2-w{width: 209px;}
	.titu3-w{width: 226px;}
	.titu4-w{width: 249px;}
	main h1{font-size: 30px;}
	.scroll2Block1{padding: 0 22px;}
	#block2Cont{margin-top: 25px;}
	#block2 .card-offer .btn-block2{
		width: 85px;
		height: 32px;
		border: 1px solid rgba(0,0,0,0);
	}
	#block2 .card-offer .btn-block2 a{
		height: 27px;
		padding-top: 5px;
	}
	#box-reserve{margin-top: 0px;}
	#cont1-reserve .text-reserve h4{padding-top: 30px;}
	#cont1-reserve .text-reserve p{width: 93%;}
	#block4{margin-top: 0px;}
	#controls-destacados{bottom: 18px;}
	footer p{font-size: 13px;}
	#nav-icon i{transform: scale(1.5);}
}
@media screen and (max-width: 450px){
	#cont1-reserve .text-reserve h4{padding-top: 20px;}
	#cont1-reserve .text-reserve p{margin-top: 15px;}
}
@media screen and (max-width: 425px){
	#block1{
		width: 100%;
		padding: 0;
	}
	#block1 .box-block1{
		width: 100%;
		padding: 0;
	}
	#block1 .box-block1 .cont1-block1{width: 100%;}
	#block1 .box-block1 .cont2-block1{width: 100%;}
	.card-block1{
		width: 80%;
		height: 100%;
		padding: 0 10%;	
	}
	#block1 .box-block1 .cont1-block1 .card-block1 span{
		display: block;
		padding-top: 30px;
	}
}
@media screen and (max-width: 410px){
	#icon2 i{transform: scale(1.3);}
	#cont1-reserve .text-reserve h4{
		padding-top: 15px;
		font-size: 38px;
	}
	#cont1-reserve .text-reserve p{margin-top: 12px;}
}
@media screen and (max-width: 400px){
	#cont1-reserve .text-reserve h4{font-size: 30px;}
	#cont1-reserve .text-reserve p{margin-top: 9px;}
	#btn-reserve{margin-top: 15px;}
}
@media screen and (max-width: 370px){
	body{font-size: 14px;}
	main h1{font-size: 26px;}
	.titu-offer h4{
		width: 80%;
		height: 30px;
		padding-top: 5px;
		font-size: 16px;
	}
	#block4 .service .icon3{width: 49px;}
	#block4 .service .icon3-2{width: 43px;}
	#block4 .service .icon3-3{width: 70px;}
}
@media screen and (max-width: 300px){
	#cont-info-header span{font-size: 30px;}
}